@charset "CP850";
/* -------------------------------------------------  FILE: _main.sass */
/* Importing: compass/css3 */
/* Importing: partials/lib/mixins/all */
/* Links -------------------------------------------------------------- */
/* create simple tabs from <a> unside <ul>
 * $dir is 'bottom' for standard tabs
 * 'top' for hanging tabs
 * assumes placement on UL */
/* Importing: partials/lib/reset/normalize */
/* Importing: theme/theme_lib/maxins/theme_maxins_all */
/* -------------------------------------------------  FILE: theme_lib/maxins/__theme-maxins_helpers.sass */
/* -------------------------------------------------  FILE: _theme_maxins_links.sass */
/* ------ Defining Maxins for Links */
/* ------------------------------------------------   FILE: _theme-01-00-init.sass */
/* ------  Apply normalize reset */
/* normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]), [hidden] {
  display: none;
}

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support */
/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/* Addresses margins handled incorrectly in IE6/7 */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
button, input, select, textarea {
  font-family: sans-serif;
}

/* =============================================================================
 * Links
 * ========================================================================== */
a {
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/* Addresses outline displayed oddly in Chrome */
/* Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test */
/* =============================================================================
 * Typography
 * ========================================================================== */
/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome */
b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/* Addresses styling not present in S5, Chrome */
dfn {
  font-style: italic;
}

/* Addresses styling not present in IE6/7/8/9 */
mark {
  background: yellow;
  color: black;
}

/* Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improves readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4 */
/* 1 */
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

/* 2 */
small {
  font-size: 75%;
}

/* Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
/* Define consistent margin and padding */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/* 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/* 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7 */
button, input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */
}

/* Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing */
table button, table input {
  *overflow: auto;
}

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS */
button, html input[type="button"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9 */
/* 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
/* Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
 * Tables
 * ========================================================================== */
/* Remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* - - - - - - - - - - - - - - - -  Additional Reset  */
/* ----- Remove Chrome's Orange Outline */
*:focus {
  outline: none;
}

/* ----- initialize form button */
button, input[type="reset"], input[type="submit"], input[type="button"] {
  border: 1px solid #cccccc;
  background: #ececec;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 10px;
}

/* ----- control Firefox's and WebKit's own resizable behavior */
textarea {
  resize: none;
}

.resizable > textarea {
  resize: both;
}

/* ----- remove link outline  */
a.image-link {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: none;
}
a.image-link:visited {
  border-bottom-style: none;
}
a.image-link:focus {
  border-bottom-style: none;
}
a.image-link:hover {
  border-bottom-style: none;
}
a.image-link:active {
  border-bottom-style: none;
}

/* ----- give it a dimension, don't trust auto mode */
a.image-link {
  height: inherent;
}

/* ----- misc */
.hidden {
  display: none;
}

/* ----- global link reset */
a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: none;
}
a:visited {
  border-bottom-style: none;
}
a:focus {
  border-bottom-style: none;
}
a:hover {
  border-bottom-style: none;
}
a:active {
  border-bottom-style: none;
}
a {
  border-bottom-color: black;
}
a:visited {
  border-bottom-color: black;
}
a:focus {
  border-bottom-color: black;
}
a:hover {
  border-bottom-color: black;
}
a:active {
  border-bottom-color: black;
}
a {
  font-weight: normal;
}
a:visited {
  font-weight: normal;
}
a:focus {
  font-weight: normal;
}
a:hover {
  font-weight: normal;
}
a:active {
  font-weight: normal;
}
a:hover {
  font-weight: normal;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:focus {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

/* ----- hyper link  */
a.link {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: none;
}
a.link:visited {
  border-bottom-style: none;
}
a.link:focus {
  border-bottom-style: none;
}
a.link:hover {
  border-bottom-style: none;
}
a.link:active {
  border-bottom-style: none;
}
a.link:visited {
  border-bottom-style: dotted;
}
a.link:focus {
  border-bottom-style: dotted;
}
a.link:hover {
  border-bottom-style: dotted;
}
a.link:active {
  border-bottom-style: dotted;
}
a.link {
  border-bottom-color: blue;
}
a.link:visited {
  border-bottom-color: blue;
}
a.link:focus {
  border-bottom-color: blue;
}
a.link:hover {
  border-bottom-color: blue;
}
a.link:active {
  border-bottom-color: blue;
}
a.link {
  font-weight: normal;
}
a.link:visited {
  font-weight: normal;
}
a.link:focus {
  font-weight: normal;
}
a.link:hover {
  font-weight: normal;
}
a.link:active {
  font-weight: normal;
}
a.link:hover {
  font-weight: normal;
}
a.link {
  color: blue;
}
a.link:visited {
  color: blue;
}
a.link:focus {
  color: blue;
}
a.link:hover {
  color: blue;
}
a.link:active {
  color: blue;
}

/* ----- list reset */
ol, ul {
  list-style-type: none;
}

/* - - - - helper class */
.v-space-25 {
  float: left;
  width: 100%;
  height: 25px;
}

.v-space-100 {
  float: left;
  width: 100%;
  height: 100px;
}

/* -------------------------------------------------  FILE: _theme-02-00-dev.sass */
#skeletal_head {
  background-color: #fcf8e3;
}

#skeletal_body {
  background-color: #dff0d8;
}

#skeletal_sidebar {
  background-color: #d9edf7;
}

#skeletal_main {
  background-color: #f2dede;
}

#skeletal_foot {
  background-color: #f2debe;
}

#tab_container {
  background-color: #f2fede;
}

#workspace_content {
  background-color: #e2dede;
}

#workspace {
  outline: red 1px solid;
}

/* -------------------------------------------------  FILE: _theme-03-00-typography.sass */
/* ------ @font-face */
/* ------ font stacks definition */
/* ------ typography style */
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: black;
}

nav a {
  font-family: arial, sans-serif;
  font-size: 40px;
}

/* -------------------------------------------------  FILE: _theme-04-00-layout.sass */
html {
  overflow: hidden;
}

body {
  overflow: hidden;
}

#skeletal_head {
  height: 100px;
}

#skeletal_body {
  position: relative;
}

#skeletal_foot {
  height: 50px;
}

#skeletal_sidebar {
  float: left;
  width: 800px;
  height: 100%;
  overflow-y: scroll;
}

#skeletal_main {
  overflow: hidden;
  position: absolute;
  width: 1000px;
  left: 100px;
  outline: green 1px solid;
}

#grip_main {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: tan;
}

#skeletal_main_inner {
  margin-left: 50px;
  overflow: hidden;
  outline: blue 1px solid;
  height: 100%;
}

/* z index for various container */
#skeletal_sidebar {
  z-index: 50;
}

#skeletal_main {
  z-index: 60;
}

#tab_container {
  float: left;
  width: 100%;
}

#workspace {
  float: left;
  width: 100%;
  overflow: hidden;
}

#workspace_tool_bar {
  float: left;
  width: 80px;
  height: 100%;
  overflow: hidden;
}

#workspace_content {
  margin-left: 100px;
  height: 100%;
  overflow-y: scroll;
}

#tab_container > ul > li {
  float: left;
}

td {
  min-width: 100px;
  white-space: nowrap;
}

table tbody tr td:nth-child(5) {
  background-color: red;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}
