/* -------------------------------------------------  FILE: _theme-04-00-layout.sass */

$height_skeletal_head: 100px
$height_skeletal_footer: 50px
// $width_sidebar: 300px
$width_sidebar: 800px
$width_toolbar: 80px
$width_grip_main: 50px



html
  overflow: hidden
body
  overflow: hidden

/* z index for various container
#skeletal_sidebar
  z-index: 50 
#skeletal_main
  z-index: 60

#skeletal_head
  height: $height_skeletal_head

#skeletal_body
  position: relative
  // height calculated by script
  
#skeletal_foot
  height: $height_skeletal_footer


#skeletal_sidebar
  float: left
  width: $width_sidebar
  height: 100%
  overflow-y: scroll

  
#skeletal_main
  overflow: hidden
  position: absolute
  width: 1000px
  left: 100px
  +ol(green)

#grip_main
  position: absolute
  width: $width_grip_main
  height: 100%
  +bc(tan)

#skeletal_main_inner
  /* width is calculated in script   
  margin-left: $width_grip_main
  overflow: hidden
  +ol(blue)
  height: 100%
  


#tab_container
  float: left
  width: 100%

#workspace
  // height is calculated in script = skeletalBody_h - tabContainer_h;
  width: 100%
  float: left
  overflow: visible

#workspace_tool_bar
  float: left
  width: $width_toolbar
  height: 100%
  overflow: hidden
 
#workspace_content
  /* 
   * workspace_content_w = ( workspace_content_w > workspace_content_minimum_w) 
              ? workspace_content_w
              : workspace_content_minimum_w;
   */
  display: absolute
  margin-left: $width_toolbar
  height: 100%
  overflow-y: scroll

 
    
#tab_container > ul > li
  float: left
  
Table
  display: none