<div id="job_list">
	<ul>
		<li class="client" data-type="client">
			BMO
			<ul>
				<li>POS
					<ul>
						<li class="job-item" data-id-job="BMO-011"><span>BMO-001</span><span>Job with long name long name long name long name</span></li>
						<li class="job-item" data-id-job="BMO-012"><span>BMO-001</span><span>Job with long name long name long name long name</span></li>
						<li class="job-item" data-id-job="BMO-013"><span>BMO-001</span><span>Job with long name long name long name long name</span></li>
						<li class="job-item" data-id-job="BMO-014"><span>BMO-001</span><span>Job with long name long name long name long name</span></li>
					</ul>	
					
				</li>
				<li>Fact Sheets
					<ul>
						<li>Job with long name long name long name long name</li>
						<li>Job with long name long name long name long name</li>
						<li>Job with long name long name long name long name</li>
						<li>Job with long name long name long name long name</li>
					</ul>	
					
				</li>
				<li>Summary
					<ul>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
					</ul>	
					
				</li>
			</ul>
		</li>
		<li class="client" data-type="client">
			Scotia
			<ul>
				<li>POS
					<ul>
						<li>Job with long name long name long name long name</li>
						<li>Job with long name long name long name long name</li>
						<li>Job with long name long name long name long name</li>
						<li>Job with long name long name long name long name</li>
					</ul>	
					
				</li>
				<li>Fact Sheets
					<ul>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
					</ul>	
					
				</li>
				<li>Summary
					<ul>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
					</ul>	
					
				</li>
			</ul>
		</li>
		<li></li>
		<li>Job xyz</li>
	</ul>
</div>


