<div id="job_list">
	<ul>
		<li class="client" data-type="client">
			BMO
			<ul>
				<li>POS
					<ul>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
					</ul>	
					
				</li>
				<li>Fact Sheets
					<ul>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
					</ul>	
					
				</li>
				<li>Summary
					<ul>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
						<li>Job xyz</li>
					</ul>	
					
				</li>
			</ul>
		</li>
		<li class="client" data-type="client">
			Scotia
		</li>
		<li></li>
		<li>Job xyz</li>
	</ul>
</div>


